<%= link_to 'New Post', '/blog/new'%> | 
<%= link_to 'Edit Post', "/blog/edit/#{@post.id}" %> | <%= link_to 'Back', '/blog'%>

<hr />
<h2>
  <%=h @post.title %>
</h2>

<p>
  <%= textilizable @post.body %>
</p>
